@import "tailwindcss";

@theme inline {
  --color-dark: #0e0d1b;
  --color-primary: #301f66;
  --color-secondary: #5b8eb9;
  --color-accent: #b6eadb;
  --color-foreground: #f5f5f5;

  --font-nexa: var(--font-nexa);
  --font-inter: var(--font-inter);
  --font-cormorant: var(--font-cormorant);
  --font-cormorant-unicase: var(--font-cormorant-unicase);
  --font-sans: var(--font-inter);
  --font-montserrat: var(--font-montserrat);
}


/* Custom Cursor Styles */
/* * {
  cursor: url('/images/zodiac/cursor-star.svg') 10 10, auto;
}

button, a, [role="button"], .cursor-pointer {
  cursor: url('/images/zodiac/cursor-pointer.svg') 10 10, pointer;
}

input, textarea, [contenteditable] {
  cursor: text;
}

.cursor-default {
  cursor: url('/images/zodiac/cursor-star.svg') 10 10, auto;
}

.cursor-pointer {
  cursor: url('/images/zodiac/cursor-pointer.svg') 10 10, pointer;
}

.cursor-grab {
  cursor: url('/images/zodiac/cursor-star.svg') 10 10, grab;
}

.cursor-grabbing {
  cursor: url('/images/zodiac/cursor-star.svg') 10 10, grabbing;
} */

